<template name="Home">
<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="centerMe">
                       
                        <h1 class="text-center">THATS MY JAM!</h1>
                        <p class="intro-text text-center">Watch, find, and share videos</p>
                        <div class="row">&nbsp;</div>
                        <a href="/videodetail/{{songofthedayID}}" class="btn btn-primary text-center center-block">Watch the JAM of the day</a>

                    </div>
                </div>
            </div>
        </div>
    </header>
  <!-- <button id="removeall" class="btn btn-primary">remove all</button> -->
<!-- <button id="removeUserBtn" class="btn btn-primary">remove user</button> -->
  <!-- <button id="removeallSOD" class="btn btn-primary">remove all sod</button> -->
<!-- <img src="{{user_image}}"/> -->

  
</template>





