<template name="Videos">
 <div class='section-title row big vert-ten-btm'>PlayList</div>
    <div class="videos">
        <div class="row">
            {{#if videos.count}}
                {{#each videos}} {{>VideoItem}} {{/each}}
            {{else}}
                <p class="panel-body">There are no videos in the playlist. Can you SEARCH and add one?</p>
            {{/if}}
        </div>
    </div>
</template>

<template name="VideoItem">
    <div class="col-xs-12 thumb">
        <a class="thumbnail btn-video" style="background-color:{{getStatusColor}}">
            <img class="img-responsive" src="{{videoThumb}}">
        </a>
        <div class="userInfo" style="background-color:{{getStatusColor}}">
            <img class="img-responsive img-circle center-block" src="{{userImage}}">
        </div>
    </div>
</template>

