<template name="Videos">
 <div class='section-title row vert-ten-btm'>PlayList</div>
    <div class="videos">
        <div class="row">
            {{#each videos}} {{>VideoItem}} {{/each}}
        </div>
    </div>
</template>

<template name="VideoItem">
    <div class="col-xs-12 thumb">
        <a class="thumbnail btn-video" style="background-color:{{getStatusColor}}">
            <img class="img-responsive" src="{{videoThumb}}">
        </a>
        <div class="userInfo" style="background-color:{{getStatusColor}}">
            <img class="img-responsive img-circle center-block" src="{{userImage}}">
        </div>
    </div>
</template>

