/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/

.navbar-inverse {
    background-color: #373737;
    border-color: #080808;
}


#myModal > div{
    color:#000 !important;
    font-size: 12px;
}

#myModal > div > div > div.modal-header{
    height: 50px !important;
}