/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/

.navbar-inverse {
    background-color: #373737;
    border-color: #080808;
}
.nav.navbar-nav.navbar-right{
	margin-right:10px;
}
div.modal-header{
	color:#000 !important;
}
div.modal-body {
    color:#000 !important;
   /* font-size: 12px;*/
}
div.modal-header{
    height: 50px !important;
}
