<template name="Submit">
    
    <div class="row">
        <div class='section-title big vert-ten-btm'>Search</div>
    </div>
    <div class="submit">
        <div id="searchForm" class="">
            <div class="input-group">
                <input id="searchInput" class="form-control" maxlength="50" name="searchInput" placeholder="Artist Name"> <span class="input-group-btn">
                        <input class="btn btn-default searchVideoBtn" type="submit">Go!
                    </span>
            </div>
        </div>
        <div id="loader" class="centerMe">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
        </div>
        <br>
        <div id="results" class="row thumbnailHolder">
            {{#each videoItems}} {{>youtubeItem}} {{/each}}
        </div>
    </div>
</template>

<template name="youtubeItem">
    <div class="col-xs-12 thumb">
        <a class="thumbnail">
            <img class="img-responsive" src="{{data.thumbnail.hqDefault}}">
        </a>
        <div class="userInfo search">
            <img class="img-responsive img-circle pull-left" src="{{authorImage}}" alt="">
            <span>{{data.title}}</span>
        </div>
        <div class="social">
            <a href="#" data-id="{{_id}}" class="btn btn-primary submitFormBtn" role="button">
               Add
            </a>
        </div>
    </div>
</template>
