/*****************************************************************************/
/* Submit: Style */
/*****************************************************************************/
.submit .thumb {
    opacity: 0;
}
#searchForm input {
   /* display: block;
    margin: 0;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    color: #fffed8;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0;*/
}

#searchForm.centerMe{
    display:none;
}
#submitForm{
    display: none;
    /*margin-top: 100px;*/
}

#loader{
    display:none;
}