<template name="Videodetail">
    <div class="videoWrapper">
        <div id="player"></div>
    </div>
    <div class="videoInfo">
        <!-- <span class="s-alert-close"></span>
        <img class="img-responsive img-circle pull-left" src="{{authorImage}}" alt="">
        <span class="videotitle">{{postTitle}}</span>
        <br/>by {{email}}
        <br/>
         <div class="social">
            <button type="button" class="btn btn-default btn-like" aria-label="Left Align">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span class="like">{{like}}</span>
            </button>
        </div> -->
        <div class="thumb">
            <span class="s-alert-close"></span>
            <div class="">
                <img class="img-responsive img-circle pull-left" src="{{authorImage}}" alt="">
                <span class="">{{postTitle}}</span>
                <br>by {{email}}
                <br>
            </div>
            <div>&nbsp;</div>
            <div class="">
                <button type="button" class="btn btn-default btn-like pull-left" aria-label="Left Align">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span class="like">{{like}}</span>
                </button>
            </div>

        </div>
    </div>

</template>
