<template name="mixtape">
    <div class="container-fluid" id="home">
        <div class="row">
            <div class="col-sm-1">
                {{#each usersOnline}} {{>userInfo}} {{/each}}
            </div>
            <div class="col-sm-5 videoPlayer info">
                <div class='section-title videoTitle row'>
                    <div class="col-sm-9">
                        <div class="row">
                        {{#if video}}
                            <span class='selVideoTitle'>{{video.videoTitle}}</span>
                            <p class="submittedby">Submitted by {{video.userName}}</p>
                            {{else}}
                            <p>No video selected. Will you add one?</p>
                        {{/if}}
                        </div>
                    </div>
                    {{#if video}}
                    <button class="btn btn-hate btn-rate pull-right progress-bar-danger"><span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                    <button class="btn btn-like btn-rate pull-right progress-bar-success"><span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    {{/if}}
                </div>
                {{>videoInfo}}
                <div class="videoWrapper row">
                    <div id="playerCover"></div>
                    <div id="player"></div>
                </div>
                  <div class="n_p_video_progressbar row">
                    <div id="myprogressBar">
                        <div></div>
                    </div>
                </div>
                {{>message}}
            </div>
            <div class="col-sm-2 playlist section">
                {{>Videos}}
            </div>
            <div class="col-sm-3 search">
                {{>admin}} {{>Submit}}
            </div>
        </div>
    </div>
</template>




<template name="userInfo">
    <div class="row">
        <img class="center-block onlineUserImage" src="{{profile.picture}}">
    </div>
</template>
<template name="videoInfo">
    {{#if video}}
    <div class="progress row">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{percentageLiked}}%;">
        </div>
    </div>
    {{/if}}
</template>
